include ../page__bread/page_bread.pug
include ../page__head/page_head.pug
include ../blog__content/blog_content.pug
mixin page_blog()
  .page__content
    //- .container.container--inner
    .container-fluid
      .row
        .offset-xl-2.col-xl-10.col
          +page_bread(["Главная", "Блог"])
          +page_head(["Статьи и публикации"])
          +blog_content(["Заголовок новости", "Заголовок новости", "Заголовок новости"])