.footer
  background-color c_dark
  padding 3.75rem 0
  @media screen and (min-width 1200px)
    .container-fluid
      max-width 1640px
  &__lk
    .btn--lk
      background-color c_light
      svg *
        fill c_braun
  &__social
    margin-top 3.75rem /* 60/16 */
    a
      text-decoration none
      margin-left 40px
      svg *
        fill c_light
  &__menu
    margin-top 3.125rem /* 50/16 */
    ul
      display flex
      justify-content space-between
      flex-flow row wrap
      padding 0
      margin 0
      list-style none
      @media screen and (max-width 1300px)
        flex-flow column wrap
        li
          &:not(:first-child)
            margin-top 1.25rem /* 20/16 */
      li
        &:before
          content none
      a
        font-size .875rem /* 14/16 */
        text-transform uppercase
        text-decoration none
