mixin footer()
  footer.footer
    .container-fluid
      .row
        .col-xl-8.col-md-8
          .footer__logo
            include ../../images/footer/logo-mg-footer.svg
          .footer__menu
            ul
              li
                a(href="") Доставка и оплата
              li
                a(href="") Политика конфидециальности
              li
                a(href="blog.html") Новости и публикации
              li
                a(href="") Информация о тестах ДНК
        .col-md-4.text-right
          .footer__lk
             a.btn.btn--lk(href="")
              span
                include ../../images/footer/user-icon.svg
              span личный кабинет
          .footer__social
            a(href="/")
              include ../../images/footer/fb.svg
            a(href="/")
              include ../../images/footer/inst.svg
            a(href="/")
              include ../../images/footer/vk.svg
