include ../page__bread/page_bread.pug
include ../page__head/page_head.pug
include ../reviews__content/reviews_content.pug
mixin page_reviews()
  .page__content
    //- .container.container--inner
    .container-fluid
      .row
        .offset-xl-2.col-xl-10.col
          +page_bread(["Главная", "Отзывы"])
          +page_head("Отзывы наших клиентов", "Оставить отзыв")
          +reviews_content()