.reviews__content
  max-width 1240px
  width 80%
  .reviews__list
    margin-top 7.5rem /* 120/16 */
  .feedback-item
    margin-bottom 90px
    &:last-child
      margin-bottom 0
.reviews__form
  line-height 1
  max-width 1520px
  margin-top 5rem /* 80/16 */
  h2
    margin-bottom 4.0625rem /* 65/16 */
    color c_sand
  .form-row
    margin-bottom 3.4375rem /* 55/16 */
    .form-row
      margin-bottom 0
  small
    text-transform none
    display inline-block
    vertical-align middle
    width 50%
    margin-left 2.8125rem /* 45/16 */
    line-height 1.2
  .btn
    display inline-block
    vertical-align middle
    max-height 51px
    position relative

@media screen and (max-width lg)
  .reviews__form
    .form-row
      margin-bottom 0
    .form-control
      margin-bottom 1.25rem /* 20/16 */
    small
      margin-left 1.25rem /* 20/16 */
      margin-top .625rem /* 10/16 */