include ../../mixins/icon.pug
mixin reviews_content()
  article.reviews__content
    p.
      Мы получаем отзывы от клиентов из 16 стран. Люди делятся с нами радостью открытий о своем происхождении, рассказывают, как генетические тесты помогли им диагностировать заболевание или спланировать рождение здорового ребенка. Каждая из историй наших клиентов — уникальна, так же, как и строение ДНК каждого человека. Прочитайте отзывы наших клиентов и расскажите свою!
    .reviews__list
      .feedback-item
        .feedback-item__head
          .feedback-item__head-name Ирина Иванова г. Москва
          a.feedback-item__head-soc(href="")
            include ../../images/feedback/vk.svg
        .feedback-item__body.
          Я сама прошла простую и доступную процедуру — генетический анализ.
          Это не больно, это очень быстро, а с расшифровкой от специалистов-генетиков,
          мы можем реально увидеть, что наш организм отрицает, что ему во благо, так ещё есть специальное тестирование на выявление у деток способностей и талантов… Наука!
      .feedback-item
        .feedback-item__head
          .feedback-item__head-name Ирина Иванова г. Москва
          a.feedback-item__head-soc(href="")
            include ../../images/feedback/vk.svg
        .feedback-item__body.
          Я сама прошла простую и доступную процедуру — генетический анализ.
          Это не больно, это очень быстро, а с расшифровкой от специалистов-генетиков,
          мы можем реально увидеть, что наш организм отрицает, что ему во благо, так ещё есть специальное тестирование на выявление у деток способностей и талантов… Наука!
      .feedback-item
        .feedback-item__head
          .feedback-item__head-name Ирина Иванова г. Москва
          a.feedback-item__head-soc(href="")
            include ../../images/feedback/vk.svg
        .feedback-item__body.
          Я сама прошла простую и доступную процедуру — генетический анализ.
          Это не больно, это очень быстро, а с расшифровкой от специалистов-генетиков,
          мы можем реально увидеть, что наш организм отрицает, что ему во благо, так ещё есть специальное тестирование на выявление у деток способностей и талантов… Наука!
  .reviews__form#form
    h2 Оставьте свой отзыв
    form(action="")
      .form-row
        .col-md-6.col-xl-7
          .form-row
            .col-md-6.col-xl-6
              input(class="form-control", type="text", placeholder="Ваше имя и фамилия")
            .col-md-6.col-xl-6
              input(class="form-control", type="text", placeholder="Город")
        .col-md-6.col-xl-5
          input(class="form-control", type="text", placeholder="Ссылка на соцсети")
      .form-row
        .col-md-6.col-xl-7
          textarea(class="form-control", type="text", placeholder="Текст вашего отзыва")
        .col-md-6.col-xl-5.d-xl-flex.justify-content-between
          input(class="btn btn-submit", type="submit", value="Отправить отзыв")
          small.
            Я ознакомился с <a href="">политикой конфиденциальности</a>
            сайта и даю свое согласие на обработку моих
            персональных данных



