include ../page__bread/page_bread.pug
include ../page__head/page_head.pug
include ../login__content/login_content.pug
mixin page_login()
  .page__content
    //- .container.container--inner
    .container-fluid
      .row
        .offset-xl-2.col-xl-10.col
          +page_bread(["Главная", "Вход"])
          +page_head(["Вход в личный кабинет"])
          +login_content()