.contacts
  background linear-gradient(180deg, rgba(163, 147, 130, 0.15) 0%, rgba(163, 147, 130, 0) 100%)
  h2
    margin-bottom 3.75rem /* 60/16 */
  &__label
    font-weight 200
    font-size 1.25rem /* 20/16 */
    margin-bottom .625rem /* 10/16 */
    margin-top 1.25rem /* 20/16 */
  &__name
    font-size 1.25rem /* 20/16 */
    margin-bottom 1.25rem /* 20/16 */
  &__outer
    padding 6.25rem 0
  &__text
    font-size 1.125rem /* 18/16 */
  &__phone
    margin 1.25rem 0
    letter-spacing 0.1em
  &__email
    color c_sand
    font-size 1.25rem /* 20/16 */
    letter-spacing 0.1em
  &__map
    size(100%)
    background-color #fff
    @media screen and (max-width sm)
      height 500px
      overflow hidden