mixin contacts()
  section.contacts
    .container-fluid
      .row
        .col-md-6.col-xl-5.offset-xl-1
          .contacts__outer
            h2 Контактная информация
            .contacts__name ООО «Медикал Геномикс»
            .contacts__label Адрес:
            .contacts__text Россия, 170100, г. Тверь, ул. Желябова д. 48
            .contacts__label Часы работы:
            .contacts__text Пн-Пт с 9:00 до 18:00
            .contacts__phone 8 800 444-07-79
            .contacts__email info@medicalgenomics.ru
        .col-md-6
          .contacts__map#contactsMap