.blog
  &-item
    margin-bottom 4.875rem /* 78/16 */
    border-bottom 1px solid c_sand
    &__meta
      display flex
      margin-bottom 10px
      span
        font-size .875rem /* 14/16 */
        letter-spacing 0.1em
        color c_sand
        font-weight 700
        &:last-child
          margin-left 5.4375rem /* 87/16 */
    &__body
      padding 1.875rem /* 30/16 */ 0
    &__head
      margin-bottom 1.25rem /* 20/16 */
    &__text
      margin-bottom 1.25rem /* 20/16 */
      font-size .875rem /* 14/16 */
    &__link
      font-size .875rem /* 14/16 */
      letter-spacing 0.1em
      vertical-align bottom
      &:after
        content "→"
        display inline-block
        vertical-align middle
        margin-left .3125rem /* 5/16 */
  &__more
    text-align center
    .btn
      &-secondary
        text-transform uppercase
  &__content
    width 80%
    max-width 1240px
    @media screen and (max-width lg)
      width 100%