mixin blog_content(data)
  .blog__content
    if data
      each val in data
        .blog-item
          .blog-item__meta
            span Новости
            span 26.12.2018
          .blog-item__preview
            img(src="images/blog/blog-item.jpg", alt="", class="img-fluid rounded")
          .blog-item__body
            h2.blog-item__head= val
            p.blog-item__text.
              Я сама прошла простую и доступную процедуру — генетический анализ.  Это не больно, это очень быстро, а с расшифровкой от специалистов-генетиков, мы можем реально увидеть. Я сама прошла простую и доступную процедуру — генетический анализ.  Это не больно, это очень быстро, а с расшифровкой от специалистов-генетиков, мы можем реально увидеть...
            a.blog-item__link(href="article.html") Читать статью
    .blog__more
      button.btn.btn-secondary Еще статьи