.cards
  padding 9.375rem 0
  background-color #F5F3F2
  h2
    text-align center
    margin-bottom 7.1875rem
  .icon-1
    size(61px)
  .icon-2
    size(66px)
  .icon-3
    size(85px)

.card
  border-radius .9375rem /* 15/16 */
  border 1px solid rgba(c_dark, op_1)
  overflow hidden
  transition all ease 0.3s
  .btn
    text-transform uppercase
  &:hover
    box-shadow 0 20px 60px -30px rgba(70, 58, 52, 0.6)
  &-header
    &:first-child
      padding 2.8125rem 1.5625rem 2.8125rem
      border-top-left-radius .9375rem
      border-top-right-radius .9375rem
      height 9.1875rem /* 147/16 */
      display flex
      align-items center
      flex 1 1 auto
    & > span
      margin-right 1.875rem /* 30/16 */
  &-header
  &-footer
  &-body
    border-color rgba(#242424, 0.1)
  &-footer
  &-body
    padding 3.125rem 1.5625rem 3.125rem
    &:nth-child(3)
      border-top 1px solid rgba(#242424, 0.1)
      flex 1 1 auto
    &:nth-child(2)
      flex 2 1 auto
  &-link
    color c_sand
    font-size 1.125rem /* 18/16 */
    text-decoration underline
    &:hover
      color c_sand
  &-title
    font-size 1.5rem /* 24/16 */
    text-transform uppercase
    span
      font-style normal
      text-transform none
  &-footer
    font-size 2.25rem /* 36/16 */
    flex 1 1 auto
  &--one
    border-top 1.106875rem solid rgba(c_light, op_5)
    animation-duration 1s
    animation-delay 0.3s
  &--two
    border-top 1.106875rem solid rgba(c_light, 1)
    animation-duration 1s
    animation-delay 0.4s
  &--three
    border-top 1.106875rem solid rgba(c_sand, 1)
    animation-duration 1s
    animation-delay 0.5s
@media screen and (max-width lg)
  .card-deck
    flex-wrap wrap
    .card
      flex-basis 47%
      max-width 50%
      margin-bottom 1.875rem
@media screen and (max-width md)
  .card-deck
    justify-content center
    .card
      max-width 80%
@media screen and (max-width sm)
  .card-deck
    .card
      max-width 100%