mixin cards()
  section.cards#cards
    .container-fluid
      h2 Тесты ДНК на&nbsp;происхождение
      .card-deck
        .card.card--one.wow.fadeInUp
          .card-header
            span
              +svg('sprite/svg/lk.svg', 'mars').icon-1
            h5.card-title &laquo;Происхождение&raquo; <br><span>по&nbsp;линии отца</span>
          .card-body
            p.card-text.
              Генетический тест по&nbsp;Y-хромосоме. <br>
              Подходит мужчинами.
            a(href="#", title="title", class="card-link") Подробнее о&nbsp;тесте
          .card-body
            .row
              .col <strong>Срок&nbsp;до&nbsp;40&nbsp;рабочих дней </strong>
              .col <strong>Точность&nbsp;99,99%</strong>
          .card-footer
            .card-price
              .row.justify-content-between
                .col
                  span 14&nbsp;990&nbsp;руб.
                .col
                  button.btn(data-target="#callback", data-toggle="modal") Заказать
        .card.card--two.wow.fadeInUp
          .card-header
            span
              +svg('sprite/svg/lk.svg', 'female').icon-2
            h5.card-title &laquo;Происхождение&raquo; <br><span>по&nbsp;линии матери</span>
          .card-body
            p.card-text.
              Генетический тест по&nbsp;митохондриальной ДНК&nbsp;(мтДНК)<br />
              Подходит мужчинам и&nbsp;женщинам
            a(href="#", title="title", class="card-link") Подробнее о&nbsp;тесте
          .card-body
            .row
              .col <strong>Срок&nbsp;до&nbsp;40&nbsp;рабочих дней </strong>
              .col <strong>Точность&nbsp;99,99%</strong>
          .card-footer
            .card-price
              .row.justify-content-between
                .col
                  span 14&nbsp;990&nbsp;руб.
                .col
                  button.btn(data-target="#callback", data-toggle="modal") Заказать
        .card.card--three.wow.fadeInUp
          .card-header
            span
              +svg('sprite/svg/lk.svg', 'love').icon-3
            h5.card-title.
              &laquo;Происхождение&raquo; <br />
              <span> по&nbsp;линии отца + по&nbsp;линии матери</span>
          .card-body
            p.card-text.
              Генетический тест по&nbsp;Y-хромосоме и&nbsp;митохондриальной <br />
              ДНК (мтДНК). <br />
              Подходит мужчинам и&nbsp;женщинам
            a(href="#", title="title", class="card-link") Подробнее о&nbsp;тесте
          .card-body
            .row
              .col <strong>Срок&nbsp;до&nbsp;40 рабочих дней </strong>
              .col <strong>Точность&nbsp;99,99%</strong>
          .card-footer
            .card-price
              .row.justify-content-between
                .col
                  span 24&nbsp;990&nbsp;руб.
                .col
                  button.btn(data-target="#callback", data-toggle="modal") Заказать
