.top__menu.dropdown-menu
  top 11px !important
  background-color #f2efed
  width 100%
  height calc(100vh - 80px)
  border none
  text-align center
  @media screen and (max-width xs)
    height calc(100vh - 54px)
  .dropdown-menu__container
    height 100%
    display flex
    flex-flow column nowrap
    justify-content center
    align-items center
.dropdown-item
  cursor pointer
  color c_sand
  padding 1.0625rem 1.5rem
  font-size 2.25rem /* 36/16 */
  text-decoration none
  @media screen and (max-width xs)
    font-size 1.65rem
  &.active
    background-color transparent
    text-decoration underline
    color c_sand
  &:hover
    background-color transparent
    color c_sand
    text-decoration underline