mixin menu()
  .dropdown-menu.top__menu#menu.fade
    .dropdown-menu__container
      .dropdown-item__outer
        a.dropdown-item.active(href="") Главная страница

        a.dropdown-item(href="") Доставка и оплата

        a.dropdown-item(href="") Информация о тестах ДНК

        a.dropdown-item(href="blog.html") Блог

        a.dropdown-item(href="reviews.html") Отзывы