.how
  padding 6.875rem 0 9.375rem
  text-align center
  overflow hidden
  h2
    margin-bottom 5rem /* 80/16 */
  em
    margin-top 2.5rem /* 40/16 */
    display inline-block
.how-item
  text-align left
  position relative
  max-width 15rem /* 240/16 */
  margin auto
  &:before
    content ""
    display block
    size(5rem)
    border-radius 50%
    font-size 2.375rem /* 38/16 */
    background-color c_light
    text-align center
    absolute(top 1.25rem  left -6.25rem)
    line-height 5rem
    @media screen and (max-width 1400px)
      left -4.25rem
  &--one
    &:before
      content "1"
  &--two
    &:before
      content "2"
  &--three
    &:before
      content "3"
  &__text
    margin-top 1.875rem /* 30/16 */