mixin how()
  section.how
    .container-fluid.container-fluid--custom
      h2 Как сдать анализ ДНК?
      .row
        .col-xl-4.col-md-6
          .how-item.how-item--one
            .how-item__img
              img(src="images/how/icon_1.png", alt="")
            .how-item__text.
             Заполните анкету
              для проведения теста
        .col-xl-4.col-md-6
          .how-item.how-item--two
            .how-item__img
              img(src="images/how/icon_2.png", alt="")
            .how-item__text.
              Проведите наконечником зонда
              с внутренней стороны щеки
              10-20 раз, медленно поворачивая
              его
        .col-xl-4.col-md-6
          .how-item.how-item--three
            .how-item__img
              img(src="images/how/icon_3.png", alt="")
            .how-item__text.
              Отправьте оразцы ДНК в нашу
              лабораторию.
      em Подробная инструкция находится в упаковке
