include ../page__bread/page_bread.pug
include ../page__head/page_head.pug
include ../checkout__content2/checkout_content2.pug
mixin page_checkout2()
  .page__content
    .container-fluid
      .row
        .offset-xl-2.col-xl-10.col
          +page_bread(["Главная", "Оформление заказа"])
          +page_head(["Оформление заказа"])
          +checkout_content2()