@media screen and (min-width 1200px )
  .container-fluid--custom
    max-width 1640px
  .container-ext
    max-width 1240px
  .container--inner
    max-width 1270px
  .container--modal
    max-width 600px
.to-top
  fixed(bottom 317px left 42px)
  z-index 20

@media screen and (min-width 576px)
  .modal-dialog
    max-width none
    width 100vw
    height 100vh
    margin 0
@media screen and (max-width lg)
  .to-top
    bottom 20px
    left 20px

@media screen and (max-width sm)
  .to-top
    display none !important
.page
  display flex
  flex-direction column
  min-height 100vh
  &__content
    flex 1
    padding-top 5.25rem /* 84/16 */
    padding-bottom 8.75rem /* 140/16 */
.modal-open
  .top
    box-shadow none
.modal--form
  background-color #fff
  form
    margin 0 auto
  .modal-content
    border none
    display flex
    justify-content center
    flex-flow column nowrap
    padding-top 84px
    .moda-header
    .modal-body
      flex 0 0 auto
    .modal-header
      padding 0
      margin 5rem 0 6.25rem
      .close
        margin-left auto
        margin-right auto
        svg
          size(1.375rem)
      @media screen and (max-width sm) and (orientation portrait)
        margin-top 0
      @media screen and (max-width sm) and (orientation landscape)
        margin-top 15rem
 .form-message
   display none
.header
  &__lk
    visibility hidden
    @media screen and (max-width md)
      fixed(bottom 20px right 20px)
      z-index 10
      visibility visible
      .btn
        &--lk
          span
            &:last-child
              display block