include ../mixins/icon.pug
include ../modules/popup/form-popup.pug
<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="initial-scale=1, width=device-width",  id="viewport-meta")
		title Medical Genomics
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&subset=cyrillic-ext")
		link(rel="stylesheet", href="styles/style.css")
	body
		block content


		block scripts
			script(src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU")
			script(src="scripts/script.js")
		+form_popup()