include ../page__bread/page_bread.pug
include ../page__head/page_head.pug
include ../article__content/article_content.pug
mixin page_article()
  .page__content
    //- .container.container--inner
    .container-fluid
      .row
        .offset-xl-2.col-xl-10.col
          +page_bread(["Главная", "Блог", "Как проходят генетические тесты и почему они такие дорогие?"])
          +page_head(["Как проходят генетические тесты и почему они такие дорогие?"])
          +article_content()