include ../page__bread/page_bread.pug
include ../page__head/page_head.pug
include ../lk__content/lk_history.pug
mixin page_lk_history()
  .page__content
    //- .container.container--inner
    .container-fluid
      .row
        .offset-xl-2.col-xl-10.col
          +page_bread(["Главная", "Личный кабинет"])
          +page_head(["История заказов"])
          +lk_history()