.top
  position fixed
  width 100%
  top 0
  left 0
  height 84px
  top 0px
  z-index 1060
  animation-duration 1s
  animation-delay 0.8s
  padding 1.4375rem 0 .8125rem /* 13/16 */
  @media screen and (max-width sm)
    padding-left 0 !important
    padding-right 0 !important
  @media screen and (max-width xs)
    height 54px
    padding 0 .625rem /* 10/16 */
    &__menu
      .toggle-menu
        margin-top .9375rem /* 15/16 */
  &--fixed
    background #FFFFFF
    box-shadow 0px 2px 2px rgba(0, 0, 0, 0.25)
  &--openedmenu
    background-color #f2efed
.toggle-menu
  background-color transparent
  border none
  display flex
  align-items center
  span
    margin-left 5px
    font-size .75rem /* 12/16 */
    text-transform uppercase
    @media screen and (max-width md)
      margin-top 3px
.top__call
  display inline-block
  @media screen and (max-width sm)
    display none
.top-call
  display flex
  align-items center
  &__btn
    .btn
      font-size .875rem /* 14/16 */
      padding 0.7rem 3.1rem
      text-transform none
      @media screen and (max-width md)
        min-width 0
        padding 0.5rem
    @media screen and (max-width sm)
      display none
  &__phone
    font-size 1.5rem /* 24/16 */
    margin-right 3.75rem /* 60/16 */
    display inline-block
    color c_braun
    text-decoration none
    &:hover
      text-decoration none
      color inherit
    @media screen and (max-width md)
      margin-right 1.25rem /* 20/16 */
      font-size 1.25rem /* 20/16 */
.btn--lk
  padding 0.5rem 0.5rem
  background-color  rgba(c_sand, op_2)
  color c_braun
  max-width 13.25rem /* 212/16 */
  width 100%
  min-width 0
  &:hover
    box-shadow 0 14px 8px -8px rgba(c_sand, 0.3)
  span
    display inline-block
    vertical-align middle
    &:first-child
      margin-right 10px
    &:last-child
      color c_braun
      font-size .75rem /* 12/16 */
      text-transform uppercase
  @media screen and (max-width lg)
    min-width 0
    width 35px
    height 35px
    padding 0.25rem
    border-radius 50%
    span
      &:first-child
        margin-right 0
      &:last-child
        display none
.top__social
  display flex
  justify-content space-between
  align-items center
  a
    margin-right .3125rem /* 5/16 */
    &:last-child
      margin-right 0
  @media screen and (max-width lg)
    justify-content flex-end
  @media screen and (max-width sm)
    display none
.top__logo
  position relative
  top 8px
  @media screen and (min-width 1200px)
    svg
      max-width 100%
@media screen and (max-width md)
  .top__lk
    display none !important
@media screen and (max-width sm)
  .toggle-menu
    width 100%
    display inline-block
    text-align right
    & *
      display inline-block
      vertical-align middle
    span
      margin-top 0