mixin top()
  .top#top
    .container-fluid
      .row.align-items-center
        .col-lg-2.col-xl-2.col-md-1.col-sm-1.col-3
          a(href="/", title="title", class="top__logo d-none d-xl-block")
            include ../../images/top/logo-mg.svg
          a(href="/", title="title", class="top__logo d-block d-xl-none")
            include ../../images/top/logo-mobile.svg
        .col-lg-1.col-xl-2.col-md-2.col-sm-3.col-5.order-last.order-lg-0
          .top__menu
            button.toggle-menu
              include ../../images/top/menu_btn.svg
              span меню

        .col-lg-6.text-center.col-xl-5.col-md-6.col
          .top__call
            .top-call
              a(href="callto:+78004440779", title="title", class="top-call__phone") 8 800 444-07-79
              .top-call__btn
                button.btn(data-toggle="modal", data-target="#callback") Заказать звонок
        .col-lg-2.col-xl-1.col-md-2.col
          .top__social
            a(href="/")
              include ../../images/top/fb.svg
            a(href="/")
              include ../../images/top/inst.svg
            a(href="/")
              include ../../images/top/vk.svg
        .col-lg-1.text-right.col-xl-2.col-md-1.col
          .top__lk
            a.btn.btn--lk(href="login.html")
              span
                include ../../images/top/user-icon.svg
              span личный кабинет
    .dropdown.fade
      button.d-none.dropdown-toggle(data-toggle="dropdown", aria-expanded="false", aria-haspopup="true")
      +menu()
