.checkout__content
.checkout__list
  margin-top 4.375rem /* 70/16 */
  .btn
    text-transform uppercase
.checkout__promocode
  margin-top 4.0625rem /* 65/16 */
  margin-bottom 4.0625rem /* 65/16 */
  small
    max-width 280px
  .form-control
    max-width 280px
    margin-right 2.5rem /* 40/16 */
.order-item
  text-transform uppercase
  display flex
  align-items flex-end
  flex-wrap wrap
  margin-bottom 2.5rem /* 40/16 */
  &:last-child
    margin-bottom 0
  em
    display block
    text-transform none
  &__price
    font-size 2.25rem /* 36/16 */
    text-transform none
    margin-left auto
    line-height 1.2
    margin-right 20px
  &__close
    cursor pointer
    background url(../images/checkout/close.svg) 0 0 no-repeat
    background-size contain
    size(.875rem)
    margin-left auto
    margin-bottom 10px
  &__name
    font-size 1.5rem /* 24/16 */
    flex 1 0 auto
.checkout__info
  margin-top 2.5rem /* 40/16 */
  & *
    &:not(li)
      font-size .875rem /* 14/16 */
      margin-bottom 1.25rem /* 20/16 */
    &:last-child
      margin-bottom 0
.checkout__upsale
  display flex
  margin-top 2.5rem /* 40/16 */
  flex-wrap wrap
.upsale
  border-radius .3125rem /* 5/16 */
  padding 1.25rem /* 20/16 */
  background-color rgba(c_light, op_2)
  max-width 320px
  min-height 21.25rem /* 340/16 */
  display flex
  flex-flow column nowrap
  justify-content space-between
  margin-right 1.875rem /* 30/16 */
  &:last-child
    margin-right 0
  &__name
    font-size 1.5rem /* 24/16 */
    text-transform uppercase
  &__price
    font-size 2.25rem /* 36/16 */
  .form-check
    line-height 0.5
  &__checkbox
    label
      font-size 1.5rem /* 24/16 */

  &__text
    font-size 1.125rem /* 18/16 */
@media screen and (max-width 1600px)
  .order-item
    &__price
    &__name
      font-size 1.25rem /* 20/16 */
@media screen and (max-width lg)
  .upsale
    margin-bottom 1.25rem /* 20/16 */
@media screen and (max-width md)
  .checkout__upsale
    justify-content flex-start
  .upsale
    margin-right 1.875rem /* 30/16 */
    &:last-child
      margin-right 0
  .checkout__content
    h2
      &:last-of-type
        margin-top 2.5rem /* 40/16 */
@media screen and (max-width xs)
  .checkout__promocode
    .d-flex
      flex-wrap wrap
  .order-item__price
    margin-left 0