include ../../mixins/icon.pug
mixin checkout_content2()
  article.checkout__content.checkout__content--last
    form(action="")
      h2 Личные данные
      .form-area
        .form-group
          input(type="text", class="form-control js-phone", placeholder="Номер телефона")
          label(for="") Для связи с курьером
        .form-group
          input(type="text", class="form-control", placeholder="Имя")
          label(for="").
            Вы можете указать любое имя, если хотите
            сохранить анонимность
        .form-group
          input(type="text", class="form-control", placeholder="Email")
          label(for="").
            Для регистрации в личном кабинете
      h2 Данные о доставке
      h4 Выберите способ доставки
      .form-group.delivery
        .form-group
          .form-check
            input(type="radio", id="radio1", name="sheep", checked)
            label(for="radio1", class="form-check-label") Доставка курьером (бесплатно)
          .form-check
            input(type="radio", id="radio2", name="sheep" )
            label(for="radio2", class="form-check-label") Почта России (бесплатно)
        .form-group
          input(class="form-control", type="text", placeholder="Адрес доставки")
        .form-group
          textarea(class="form-control", type="text", placeholder=" Пожелания к заказу")
      h4.
        Внимательно проверьте все данные. Если
        ошибок нет, смело переходите к оплате
      .form-group.form-accs
        .form-check
          input(id="check21", type="checkbox", checked)
          label(class="form-check-label", for="check21") Ошибок нет

        .form-check
          input(id="check22", type="checkbox", checked)
          label(class="form-check-label", for="check22").
            Я ознакомился с <a href="">политикой конфиденциальности</a><br>
            сайта и даю свое согласие на обработку моих<br>
            персональных данных

        .form-check
          input(id="check23", type="checkbox", checked)
          label(class="form-check-label", for="check23") Согласен с условиями <a href="">публичной оферты</a>

        .form-check
          input(id="check24", type="checkbox", checked)
          label(class="form-check-label", for="check24") Даю свое согласие на обработку <a href="">персональных данных</a>
      input(type="submit", class="btn", value="ПЕРЕЙТИ К ОПЛАТЕ")
