.second
  position relative
  overflow hidden
  padding 6.25rem  0
  &__face_right
    width 58.3333%
    height 95%
    background url('../images/second/second__face_right.jpg') 0 0 no-repeat
    background-size cover
    absolute(right -20% bottom 0)
    animation-duration 0.5s
    animation-delay 0.8s
    @media screen and (max-width 1400px)
      width 70%
    @media screen and (max-width lg)
      right -40%
      width 100%
      height 75%
    @media screen and (max-width md)
      display none
  &__chart
    height 31.25rem /* 500/16 */
    width 31.25rem /* 500/16 */
    margin-top 7.1875rem /* 115/16 */
    @media screen and (max-width lg)
      background url('../images/second/DonutChartProto.jpg') 0 0 no-repeat
      background-size cover
      margin-left auto
      margin-right auto
      size(15.625rem)
      margin-top 3rem
    @media screen and (max-width lg) and (min-width 992px)
      display none
    h2
    h3
    p
      animation-duration 0.5s
      animation-delay 0.2s
  .btn
    text-transform uppercase
  h2
    font-size 2rem
.ct-donute-chart
    height 100%
    position relative
    animation-duration 0.5s
    animation-delay 1.9s
    .ct-slice-donut
      stroke-width 40px !important
.chart__data
  line-height 1.2
  font-size 30px
  font-weight 600
  animation-duration 0.5s
  animation-delay 1.7s
  absolute()
  center()
  @media screen and (max-width lg)
    display none
  .data-1
    color c_blue
  .data-2
    color c_red
  .data-3
    color c_light2
  div
    margin-bottom .625rem /* 10/16 */