mixin second()
  section.second
    .second__face_right.wow2.fadeInRight
    .container-fluid
      .row
        .col-lg-5.offset-lg-1
          h2.wow.fadeInUp.
           Кто вы&nbsp;и&nbsp;откуда в&nbsp;мире <br>
            ваша ДНК?
          p.wow.fadeInUp.
            Генетический тест ДНК &laquo;ПРОИСХОЖДЕНИЕ&raquo; предлагает вам совершить путешествие к&nbsp;своим истокам и&nbsp;узнать о&nbsp;том,
            что делает Вас уникальным.
          p.wow.fadeInUp.
            Ваша ДНК может рассказать вам, где жили ваши предки более 500 лет назад. Вы&nbsp;узнаете об&nbsp;этническом и&nbsp;географическом происхождение своих предков, что может содержать неожиданную и&nbsp;любопытную информацию об&nbsp;истории вашего рода.
          h3.wow.fadeInUp Скандинавец или Балканец
          p.wow.fadeInUp.
            Абсолютное большинство людей является представителями сразу нескольких народов, нередко живущих очень далеко друг от&nbsp;друга. Сравнение участков хромосом с&nbsp;ДНК типичных представителей различных народностей позволяет оценивать Ваш этнический состав. ДНК-тест расскажет, насколько вы&nbsp;относитесь к&nbsp;каждой из&nbsp;87&nbsp;популяций (включая народности России и&nbsp;стран СНГ).
          button.btn.wow.fadeInUp(data-toggle="modal", data-target="#test") ПОДРОБНЕЕ О&nbsp;ТЕСТЕ
        .col-lg-6
          .second__chart.wow.fadeIn
            #donute
              .chart__data.wow.fadeIn
                .data-1 Румыны&nbsp;&mdash;
                  span 85,2%
                .data-2 Якуты&nbsp;&mdash;
                  span 12,4%
                .data-3 Африканцы&nbsp;&mdash;
                  span 2,4%