.lk__content
  form
    max-width 440px
  .icon
    size(1.9375rem)
  .icon-file
    size(2rem)
  .status-item
    margin-bottom 1.875rem /* 30/16 */
    &:last-child
      margin-bottom 0
    span
      margin-left .9375rem /* 15/16 */
  .lk__status
    margin-top 1.5625rem /* 25/16 */
  .file
    margin-left 2.8125rem /* 45/16 */
    @media screen and (max-width sm)
      margin-bottom 2.5rem /* 40/16 */
      display block
      margin-left 0
  .btn
    text-transform uppercase
.file
  text-decoration underline
  &:hover
    text-decoration none
.lk__group
  margin 2.5rem /* 40/16 */ 0
  &:first-child
    margin-top 0