include ../../mixins/icon.pug
mixin lk_content()
  article.lk__content
    .row
      .col-12.col-md-6
        h3 Здравствуйте, Иван Петрович
        h4 Статус вашего заказа
        .lk__status
          .status-item
            +svg('sprite/svg/lk.svg', 'shipped').icon
            span Доставка набора курьером
          .status-item
            +svg('sprite/svg/lk.svg', 'microscope').icon
            span Образцы поступили в лабораторию
          .status-item
            +svg('sprite/svg/lk.svg', 'analysis').icon
            span.
              Ура! Результаты теста доступны
              для просмотра и скачивания.
          a.file(href="")
            +svg('sprite/svg/lk.svg', 'file').icon-file
            span Смотреть тест (.pdf 12 mb)
      .col-12.col-md-6
        .lk__group
          h4 Личная информация
          a(href="#", title="title") Изменить регистрационные данные
        .lk__group
          h4 Заказы
          a(href="#", title="title") Посмотреть историю заказов
        .lk__group
          buton.btn Новый тест
        .lk__group
          h4 Подписки
          a(href="#", title="title") Управление подписками на новости
        .lk__group
          h4 Возникли вопросы?
          p.
            Вы можете задать их нашему
            специалисту
        .lk__group
          form(action="")
            .form-group
              input(class="form-control", type="text", placeholder="Текст вопроса")
            .form-group
              input(class="btn btn-submit", type="submit", value="Отправить вопрос")