include ../../mixins/icon.pug
mixin lk_history()
  article.lk__content
    .table-responsive
      table.table.table--lk
        thead
          tr
            td(width="10%") Дата заказа
            td(width="30%") Название заказа
            td(width="30%") Статус
            td
        tbody
          tr
            td 02.03.2019
            td.
              Тест «Происхождение»
              по линии отца + по линии матери
            td
              +svg('sprite/svg/lk.svg', 'shipped').icon
              span Доставка набора курьером
            td
              button.btn Повторить
          tr
            td 02.03.2019
            td.
              Тест «Происхождение»
              по линии отца
            td
              +svg('sprite/svg/lk.svg', 'analysis').icon
              span.
                Ура! Результаты теста доступны
                для просмотра и скачивания.
            td
              button.btn Повторить
          tr
            td 02.03.2019
            td.
              Тест «Происхождение»
              по линии матери
            td
              +svg('sprite/svg/lk.svg', 'microscope').icon
              span Образцы поступили в лабораторию
            td
              button.btn Повторить
          tr
            td 02.03.2019
            td.
              Тест «Происхождение»
              по линии матери
            td
              +svg('sprite/svg/lk.svg', 'wallet').icon
              span Оплачен
            td
              button.btn Повторить
          tr
            td 02.03.2019
            td.
              Тест «Происхождение»
              по линии матери
            td
              +svg('sprite/svg/lk.svg', 'accept').icon
              span Принят
            td
              button.btn Повторить