.video
  height 780px
  overflow hidden
  position relative
  @media screen and (max-width md)
    height 600px
  @media screen and (max-width sm)
    height 500px
  &__overlay
    absolute(top 0 left 0)
    size(100%)
    z-index 2
    background url('../images/video/poster.jpg') 0 0 no-repeat
    background-size cover
  &__controls
    position absolute
    center()
    z-index 3
    text-align center
    span
      font-size 1.5rem /* 24/16 */
      color white
      display inline-block
      margin-bottom 3.75rem /* 60/16 */
    #videoPlay
      cursor pointer
      &:hover
        opacity 0.8