mixin video()
  section.video
    .embed-responsive.embed-responsive-21by9#videoWrap
    .video__overlay#videoOverlay
    .video__controls
      span Смотреть пример заключения
      #videoPlay
        include ../../images/video/play.svg