.antrop
  overflow hidden
  padding 9.375rem 0 /* 150/16 */
  background c_map url('../images/antrop/antrop.jpg') 0 0 no-repeat
  background-size cover
  @media screen and (max-width 1400px)
    background-position-x 50%
  @media screen and (max-width md)
    padding-bottom 6.25rem /* 100/16 */
  @media screen and (max-width sm)
    padding-bottom 3.75rem/* 60/16 */



