mixin antrop()
  section.antrop#antrop
    .container-fluid
      .row
        .col-12.offset-xl-1.col-xl-4
          h2.
           Из&nbsp;какой точки планеты <br />
            происходят Ваши предки?
          p.
           Вы&nbsp;являетесь носителем ценной информации, в&nbsp;вашей ДНК закодирована информация о&nbsp;местах, где бывали ваши далекие предки. Различные этнические группы издревле происходят из&nbsp;одних и&nbsp;тех&nbsp;же регионов и&nbsp;составляют определенный генофонд. Анализ ДНК определит вашу гаплогруппу, т.е. покажет вашу этническую принадлежность и&nbsp;пути миграции предков по&nbsp;земному шару.
          p.
            Гаплогруппа&nbsp;&mdash; это совокупность мутаций мтДНК и&nbsp;Y хромосомы, которая зафиксирована в&nbsp;ряде поколений этих мутаций. Гаплогруппа, обычно, привязана к&nbsp;какому либо географическому региону. Принадлежность человека к&nbsp;той или иной гаплогруппе определяется по&nbsp;набору мутаций, который есть у&nbsp;всех потомков этой гаплогруппы, т.к она унаследована от&nbsp;общих предков, которые жили более 100&nbsp;000 лет назад.
        .col-12.col-xl-7
          //