.modal
  &-title
    font-size 1.125rem /* 18/16 */
    text-align center
    margin-bottom 5.9375rem /* 95/16 */
  &-body
    padding 0 5.625rem 5.625rem
  &-header
    border-bottom 0
    padding 1.875rem /* 30/16 */
  &-content
    border-radius 0
  &--test
    z-index 1070
  img
    margin-bottom 5.625rem /* 90/16 */
  .close
    svg
      size(3.125rem)
  @media screen and (max-width md)
    &-body
      padding 0 1.25rem 1.25rem
    &-header
      padding 1.25rem
    .close
      svg
        size(2.5rem)