mixin form_popup()
  .modal.modal--form.fade#callback(tabindex="-1",  role="dialog", aria-labelledby="formModal",  aria-hidden="true")
    .modal-dialog
      .modal-content.text-center
        .modal-header
          button(type="button", class="close", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true")
              +svg('sprite/svg/lk.svg', 'close-modal')

        .modal-body
          .container.container--modal
            h2.modal-title.display-1 Заказать звонок
            p.
              Заполните форму ниже и наш специалист свяжется
              с вами в ближайшее время
            form(action="", novalidate).form-validation
              .form-group
                input.form-control(type="text", placeholder="Ваше имя", minlength="3", required)
                .invalid-feedback Введите имя
              .form-group
                input.form-control.js-phone(type="text", placeholder="Номер телефона", required)
                .invalid-feedback Введите корректный номер телефона
              .form-group
                input(type="submit", class="btn", value="Заказать звонок")
              small.
                Нажимая кнопку «Войти» вы соглашаетесь <br> c
                <a href="">Политикой конфиденциальности и даете согласие на обработку своих  <br>персональных данных</a>
        .form-message
          h2.modal-title.display-1 Запрос отправлен
          p.
            Спасибо за обращение! <br>
            Наш менеджер свяжется с вами в ближайшее время
          .form-group.text-center
            button(type="button", class="btn", data-dismiss="modal", aria-label="Close") ОК