mixin popup()
  .modal.modal--test.fade#test(tabindex="-1",  role="dialog", aria-labelledby="testModal",  aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button", class="close", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true")
              +svg('sprite/svg/lk.svg', 'close')

        .modal-body
          h3.modal-title.
            Генетический тест может выявить происхождение <br>
            по мужской линии для анализа используется Y DNA (по Y хромосоме), <br>
            и по женской линии mtDNA (по митохондриальной ДНК).
          .row
            .col.col-sm-6
              img(src="images/modal/img-1.jpg", alt="", class="img-fluid")
              p.
                Мужчины унаследуют информацию, заключенную в Y ДНК из поколения в поколение.Данная хромосома передается от отца к сыну практически в неизмененном виде, это и дает возможность проанализировать результаты и выявить сходства.
              p.
                А так же у мужчин есть митохондриальная ДНК, которая позволяет выявить происхождение по материнской линии.
            .col.col-sm-6
              img(src="images/modal/img-2.jpg", alt="", class="img-fluid")
              p.
                У женщин в отличие от мужчин отсутствует Y хромосома, поэтому проследить корни по мужской линии является не возможным, однако у женщин есть митохондриальная ДНК, которая позволяет определить происхождение по материнской линии.
              p.
                Происхождение по мужской линии можно выявить если сделать генетический тест отцу или брату.