.page
  &__breadcrumbs
    margin 5rem 0 3.125rem
    list-style-type none
    font-size .75rem /* 12/16 */
    padding-left 0
    li
      display inline-block
      &:after
        content "/"
        display inline-block
        color c_sand
        margin 0 .3125rem /* 5/16 */
        font-size inherit
      &:before
        content none
      a
        text-decoration none
      &:last-child
        &:after
          content none
      &:first-child
        a
          color c_braun
        &:after
          color c_braun
    @media screen and (max-width xs)
      font-size .875rem /* 14/16 */