.faces
  padding 5.9375rem 0 5rem
  background-color  rgba(c_sand, 0.15)
  background url('../images/faces/faces-bg.jpg'), linear-gradient(180deg, rgba(163, 147, 130, 0.15) 0%, rgba(163, 147, 130, 0.1) 100%)
  background-blend-mode multiply, normal
  background-size cover
  background-position 0 0
  background-repeat no-repeat
  position relative
  overflow hidden
  .btn
    text-transform uppercase
  @media screen and (min-width 1200px)
    height 1080px
  .container
    position relative
    z-index 2
    &--ext
      @media screen and (min-width 1200px)
        max-width 1240px
  &__one
    margin-bottom 4.0625rem
    transition transform 0.3s ease
    @media screen and (min-width 1200px)
      max-width 76%
      margin-left auto
      margin-right auto
  &__two
    h3
      margin-bottom 3.125rem
    p
      margin-bottom 3.4375rem
  &__middle
    transition transform 0.3s ease
    a
      display block
      margin-bottom 3.4375rem /* 55/16 */
    .btn
      margin-left auto
      margin-right auto
.face-item
  background-size contain
  background-position 0 100%
  background-repeat no-repeat
  height 100%
.faces-list
  margin 0 auto 2.5rem /* 40/16 */
  @media screen and (min-width 1200px)
    max-width 76%
  @media screen and (min-width md)
    max-width 80%
.faces-item
  text-align center
  @media screen and (max-width md)
    margin-bottom 1.25rem /* 20/16 */
  &__img
    size(7.5rem)
    overflow hidden
    margin 0 auto 1.25rem /* 20/16 */
  &__name
    font-size .75rem /* 12/16 */
    @media screen and (max-width md)
      font-size 1rem
