mixin faces()
  section.faces.text-center
    .container.container--ext
      .faces__one
        h2 Что покажет тест ДНК на&nbsp;происхождение?
        p.
          ДНК-тест &laquo;Происхождение&raquo; поможет вам выяснить происхождение ваших далеких предков и&nbsp;определить, какие народы оставили след в&nbsp;вашем геноме. Вы&nbsp;узнаете свою собственную историю и&nbsp;сможете лучше понимать себя и&nbsp;свою историю.
          Узнать больше о&nbsp;своих древних и&nbsp;современных родственниках.
      .faces__middle.faces__one--up
        a(href="") Смотреть пример заключения
        //- button.btn.d-none.d-xl-block Заказать тест
      .faces__two.wow.fadeInUp(data-wow-delay="1s", data-wow-offset="15")
        h3.
          Могу&nbsp;ли я&nbsp;быть родственником <br>
          Наполеона, Николая II&nbsp;и&nbsp;Чингисхана?

        .faces-list
          .row.justify-content-center
            .col-6.col-sm-4.col-md-3.col-lg-2
              .faces-item
                .faces-item__img
                  img.rounded-circle.img-fluid(src="images/faces/f_1.png", alt="")
                .faces-item__name.
                  Илон Маск </br>
                  G2a1a
            .col-6.col-sm-4.col-md-3.col-lg-2
              .faces-item
                .faces-item__img
                  img.rounded-circle.img-fluid(src="images/faces/f_2.png", alt="")
                .faces-item__name.
                  Ким Чен Ын </br>
                  G2a1a
            .col-6.col-sm-4.col-md-3.col-lg-2
              .faces-item
                .faces-item__img
                  img.rounded-circle.img-fluid(src="images/faces/f_3.png", alt="")
                .faces-item__name.
                  Иосиф Висарионович Сталин </br>
                  G2a1a
            .col-6.col-sm-4.col-md-3.col-lg-2
              .faces-item
                .faces-item__img
                  img.rounded-circle.img-fluid(src="images/faces/f_4.png", alt="")
                .faces-item__name.
                  Никола Тесла </br>
                  G2a1a
            .col-6.col-sm-4.col-md-3.col-lg-2
              .faces-item
                .faces-item__img
                  img.rounded-circle.img-fluid(src="images/faces/f_5.png", alt="")
                .faces-item__name.
                  Дональд Трамп </br>
                  G2a1a
            .col-6.col-sm-4.col-md-3.col-lg-2
              .faces-item
                .faces-item__img
                  img.rounded-circle.img-fluid(src="images/faces/f_6.png", alt="")
                .faces-item__name.
                  Софи Лорен </br>
                  G2a1a
        p.
          Мы&nbsp;исследуем 1&nbsp;500 генетических маркера на&nbsp;Y-хромосоме (которая передается от&nbsp;отца к&nbsp;сыну и&nbsp;может быть исследована только у&nbsp;мужчин) и&nbsp;600 генетических маркера на&nbsp;митохондриальной ДНК (которая передается от&nbsp;матери детям), что позволяет нам с&nbsp;высокой точностью отследить пути миграции предков по&nbsp;отцовской (только для мужчин) и&nbsp;материнской (для мужчин и&nbsp;женщин) линиям. Анализ Y-хромосомы и&nbsp;митохондриальной ДНК позволяет оценить время, когда у&nbsp;вас были ближайшие общие предки с&nbsp;известными людьми по&nbsp;отцовской и&nbsp;материнской линиям.
        button.btn(data-target="#callback", data-toggle="modal") ЗАКАЗАТЬ ТЕСТ