include ../../mixins/icon.pug
mixin checkout_content()
  article.checkout__content
    .row
      .col-12.col-lg-6
        h2 Ваш заказ
        .checkout__list
          .order-item
            .order-item__name.
              Тест «Происхождение»
              <em>по линии отца + по линии матери</em>

            .order-item__price 24 990 руб.
            .order-item__close
        .checkout__promocode
          form(action="", class="needs-validation'")
            .form-group.d-flex
              input(class="form-control is-invalid", type="text", placeholder="Использовать промокод")
              small.invalid-feedback.
                Промокод не найден, был использован ранее, либо не работает для данного товара
        .checkout__submit
          button(class="btn btn-submit", type="submit") Оформить заказ
        .checkout__info
          p.
            После оформления заказа, с вами свяжется наш специалист и подробно расскажет
            вам дальнейший план действий.
          p.
            Так же вам на почту будут высланы:
          ul
            li Доступы в личный кабинет
            li Инструкция по сбору биоматериала
            li Небольшой подарок от компании Medical Genomics
      .col-12.col-lg-6
        h2 Добавьте к заказу
        .checkout__upsale
          .upsale
            .upsale__name.
              Распечатанное заключение
            .upsale__text.
              Распечатка и отправка данных теста по вашему адресу
            .upsale__price 990 руб.
            .upsale__checkbox
              .form-check
                input(type="checkbox", id="check2", checked)
                label(for="check2", class="form-check-label") Добавить к заказу
          .upsale
            .upsale__name.
              Распечатанное заключение
            .upsale__text.
              Распечатка и отправка данных теста по вашему адресу
            .upsale__price 1 990 руб.
            .upsale__checkbox
              .form-check
                input(type="checkbox", id="check3", checked)
                label(for="check3", class="form-check-label") Добавить к заказу