.feedback
  padding 8.75rem 0
  text-align center
  h2
    margin-bottom 3.75rem /* 60/16 */
  &__btns
    text-align center
    margin-top 4.0625rem
    .btn
      margin 0 1.25rem
      text-transform uppercase
      text-decoration none
      @media screen and (max-width md)
        font-size 1rem
  &__slider
    margin-top 7.5rem /* 120/16 */
    .carousel-control-prev
    .carousel-control-next
      max-width 45px
      opacity 1
    .carousel-control-prev
      left -80px
    .carousel-control-next
      right -80px
    .carousel-indicators
      margin 9.375rem auto 0
      position static
      li
        size(5px)
        background-color c_sand
        border-radius 50%
        margin 0 .9375rem
        flex 0 0 5px
        &.active
          background-color c_braun
        &:before
          content none
  &-item
    text-align left
    &__head
      margin-bottom 2.1875rem /* 35/16 */
      display flex
      flex-flow row wrap
      align-items center
      &-name
        font-weight 700
        letter-spacing 0.1em
        font-size 1.25rem /* 20/16 */
        color c_sand
        margin-right 1.25rem /* 20/16 */
    &__body
      color #262626
      font-size 1.125rem /* 18/16 */
  @media screen and (max-width 1500px)
    &__slider
      .carousel-control-prev
        left -30px
        top 50px
      .carousel-control-next
        right -30px
        top 50px
  @media screen and (max-width 1400px)
    &__slider
      .carousel-control-prev
        left 0px
        top 50px
      .carousel-control-next
        right 0px
        top 50px

  @media screen and (max-width sm)
    &__slider
      .carousel-control-prev
      .carousel-control-next
        position static
        display inline-block
        margin 1.25rem
      .carousel-indicators
        display none
    &__btns
      .btn
        &:last-child
          margin-top 1.25rem /* 20/16 */
        &-secondary
          padding 1.02rem 2rem
