mixin feedback()
  section.feedback
    .container.container-ext
      h2 Отзывы наших клиентов
      p.
        Мы получаем отзывы от клиентов из 16 стран. Люди делятся с нами радостью открытий о своем происхождении, рассказывают, как генетические тесты помогли им диагностировать заболевание или спланировать рождение здорового ребенка. Каждая из историй наших клиентов — уникальна, так же, как и строение ДНК каждого человека. Прочитайте отзывы наших клиентов и расскажите свою!
      .feedback__slider.carousel.slide(id="feedbackCarousel", data-ride="carousel")
        .carousel-inner
          .feedback-item.carousel-item.active
            .feedback-item__head
              .feedback-item__head-name Ирина Иванова г. Москва
              a.feedback-item__head-soc(href="")
                include ../../images/feedback/vk.svg
            .feedback-item__body.
              Я сама прошла простую и доступную процедуру — генетический анализ.
              Это не больно, это очень быстро, а с расшифровкой от специалистов-генетиков,
              мы можем реально увидеть, что наш организм отрицает, что ему во благо, так ещё есть специальное тестирование на выявление у деток способностей и талантов… Наука!
          .feedback-item.carousel-item
            .feedback-item__head
              .feedback-item__head-name Ирина Иванова г. Москва
              a.feedback-item__head-soc(href="")
                include ../../images/feedback/vk.svg
            .feedback-item__body.
              Я сама прошла простую и доступную процедуру — генетический анализ.
              Это не больно, это очень быстро, а с расшифровкой от специалистов-генетиков,
              мы можем реально увидеть, что наш организм отрицает, что ему во благо, так ещё есть специальное тестирование на выявление у деток способностей и талантов… Наука!
          .feedback-item.carousel-item
            .feedback-item__head
              .feedback-item__head-name Ирина Иванова г. Москва
              a.feedback-item__head-soc(href="")
                include ../../images/feedback/vk.svg
            .feedback-item__body.
              Я сама прошла простую и доступную процедуру — генетический анализ.
              Это не больно, это очень быстро, а с расшифровкой от специалистов-генетиков,
              мы можем реально увидеть, что наш организм отрицает, что ему во благо, так ещё есть специальное тестирование на выявление у деток способностей и талантов… Наука!
        a.carousel-control-prev(href="#feedbackCarousel", role="button", data-slide="prev")
          include ../../images/feedback/prev.svg
        a.carousel-control-next(href="#feedbackCarousel", role="button", data-slide="next")
          include ../../images/feedback/next.svg
        ol.carousel-indicators
          li.active(data-slide-to="0", data-target="#feedbackCarousel", href="#feedbackCarousel")
          li(data-slide-to="1", data-target="#feedbackCarousel", href="#feedbackCarousel")
          li(data-slide-to="2", data-target="#feedbackCarousel", href="#feedbackCarousel")
      .d-inline-flex.flex-column.flex-md-row.feedback__btns
        a(href="reviews.html#form").btn.btn-secondary Оставить отзыв
        a(href="reviews.html", title="title").class.btn Все отзывы