.form
  background-color rgba(c_light, op_3)
  padding 3.75rem 0
  min-height 480px
  &__img
    absolute(right 0 top -97px)
  h2
    margin-bottom 3.4375rem /* 55/16 */
    font-weight 400
  @media screen and (max-width lg)
    .form-check
      margin-top 1.25rem /* 20/16 */
  @media screen and (max-width md)
    &__img
      position static
