mixin form()
  section.form
    .container-fluid.container-fluid--custom
      .row
        .col-xl-5.col-md-6
          h2 Записаться на консультацию
          form(action="")
            .form-group
              input(class="form-control", type="text", placeholder="Ваше имя*", required)
            .form-group
              input(class="form-control js-phone", type="text", placeholder="Номер телефона*")
            .form-group.form-group-submit
              .row
                .col-lg-6.col-12
                  input(type="submit", class="btn btn-submit", value="Отправить заявку")
                .col-lg-6.col-12
                  .form-check
                    input(type="checkbox", id="formCheck1", checked).form-check-input
                    label.form-check-label(for="formCheck1").
                      Я ознакомился с <a href="">политикой конфиденциальности</a>
                      сайта и даю свое согласие на обработку моих
                      персональных данных

        .col-xl-7.col-md-6
          img.form__img.img-fluid(src="images/form/box.png", alt="")
