.header
  height 100vh
  height 1080px
  background-repeat no-repeat
  text-align center
  position relative
  overflow hidden
  opacity 0
  transition opacity 1s ease-in
  &--grad
    background  linear-gradient(180deg, rgba(163, 147, 130, 0.15) 0%, rgba(163, 147, 130, 0.1) 100%)
    opacity 1
  .display-1
    font-size 3.5rem
    @media screen and (max-width 1600px)
      font-size 2.5rem
    @media screen and (max-width lg)
      font-size 1.5rem
    @media screen and (max-width md)
      font-size 2.5rem
  .display-1 + h1
    font-size 3.5rem
    @media screen and (max-width 1600px)
      font-size 2.5rem
    @media screen and (max-width lg)
      font-size 1.5rem
    @media screen and (max-width md)
      font-size 2.5rem
  @media screen and (max-width 1500px)
    height 768px
    // min-height 576px
    padding-bottom 2.5rem /* 40/16 */
  @media screen and (max-width sm)
    height 500px
  h1
    margin-top 1.875rem /* 30/16 */
  .btn
    margin-top 9.8125rem /* 157/16 */
    text-transform uppercase
    @media screen and (max-width xs)
      margin-top 4.8rem
  &__content
    display flex
    flex-direction column
    align-items center
    justify-content center
    height 100%
    position relative
    z-index 2
    @media screen and (max-width md)
      position relative
      z-index 2
  &__face_left
  &__face_right
    position absolute
    bottom -4%
    @media screen and (max-width md)
      z-index 1
      display none
  &__face_left
    background  url('../images/header/face_left.png') 0 0 no-repeat
    background-size contain
    height 969px
    width 964px
    left -400px
    bottom -50px
    @media screen and (max-width 1500px)
      width calc(969px * 0.8)
      height calc(964px * 0.8)
      left -320px
  &__face_right
    background  url('../images/header/face_right.png') 0 0 no-repeat
    background-size contain
    width 1172px
    height 953px
    right -460px
    @media screen and (max-width 1500px)
      width calc(1172px * 0.8)
      height calc(953px * 0.8)
      right -370px
  @media screen and (max-width xs)
    .display-1
    h1
      font-size 2.3rem

