mixin header()
  header.header.header--grad#header
    .header__content
      .display-1 Генетический тест от&nbsp;лаборатории <br> Medical Genomics
      h1 &laquo;ПРОИСХОЖДЕНИЕ&raquo;
      button.btn.waves-effect.waves-light(data-target="#callback", data-toggle="modal") Заказать тест
    .header__face_left
    .header__face_right
    .header__lk
      a.btn.btn--lk(href="login.html")
        span
          include ../../images/top/user-icon-2.svg