// typo
html
		font-size 16px
		@media screen and (max-width md)
			font-size 15px
		@media screen and (max-width sm)
			font-size 13px
		@media screen and (max-width xs)
			font-size 12px
body
	font-family font_base
	color c_braun

.display-1
h1
		font-size fz_h1
		color c_sand
h2
	font-size fz_h2
h3
	font-size fz_h3
p
h4
	font-size fz_p
h2
h3
p
	color c_braun
	margin-bottom 2.5rem /* 40/16 */
.display-1
	font-weight 300
	font-style normal
h1
h2
h3
h4
	font-weight 700

.btn
	border-radius brad_btn
	font-size fz_btn
	line-height lh_btn
	background-color c_blue
	color white
	text-align center
	text-transform lowercase
	padding 1.020rem 2rem
	min-width 212px
	border none
	text-decoration none
	&:hover
		color white
		box-shadow 0 14px 8px -8px rgba(c_blue, 0.3)
	&-secondary
		padding 1.020rem 2rem
		background-color  c_light
		color c_braun
		min-width 212px
		&:hover
			box-shadow 0 14px 8px -8px rgba(c_sand, 0.3)
			background-color c_light
			color c_braun
		&:focus
		&:active
			background-color c_light !important
			border none !important
			box-shadow 0 14px 8px -8px rgba(163,147,130,0.3) !important
			color c_braun !important
a
	color c_sand
	text-decoration underline
	&:hover
		text-decoration none
		color c_sand
form
  input[type="submit"]
	  text-transform uppercase
.form-control
	border none
	border-bottom 1px solid c_sand
	background-color transparent
	font-size 1.125rem /* 18/16 */
	border-radius 0
	input-placeholder(color c_braun,)
	&.is-invalid
		background none
		border-color c_braun
		&:focus
			box-shadow none
			border-color c_braun
	&.is-valid
		&:focus
			box-shadow none
	&:focus
		box-shadow none
		background-color transparent
		border-bottom 1px solid c_blue
.invalid-feedback
	color #F40000
	font-size .75rem /* 12/16 */
	text-transform none
	line-height 1.3
.form-check-label
	font-size .75rem /* 12/16 */
	text-transform none
	color c_sand
	a
		color c_braun
.form-check
	@media screen and (max-width sm)
		label
			font-size 1rem
	@media screen and (max-width sm)
		label
			padding-left 10px

	.form-check-label
		position relative
	input[type="checkbox"]
	input[type="radio"]
		opacity 0
		size(0)
		& + label
			&:before
				content ""
				display block
				absolute(left -25px top 3px )
				size(15px)
				border 1px solid c_braun
				border-radius 3px
	input[type="checkbox"]
	input[type="radio"]
		&:checked
			& + label
				&:after
					content url('../images/form/check.svg')
					absolute(left -22px top 5px)
					line-height 0
.form-group
	margin-bottom 2.5rem /* 40/16 */
	&-submit
		margin-top 3.75rem /* 60/16 */
button
	cursor pointer
	&:active
	&:focus
		outline none
		border none

ul
ol
	padding-left 1.25rem /* 20/16 */
	margin-bottom 2.5rem /* 40/16 */
	li
		color c_braun
ul
	list-style-type none
	position relative
	padding-left 0
	li
		&:before
			content "⋅"
			font-size 2rem
			display inline-block
			height .625rem /* 10/16 */
			vertical-align middle
			line-height 0
			color c_sand
			margin-right .5625rem /* 9/16 */
ol
	list-style none
	counter-reset list-number
	padding-left 0
	li
		counter-increment list-number
		&::before
			content counter(list-number) ". "
			color c_sand
.table
	font-size .875rem /* 14/16 */
	margin .625rem /* 10/16 */ 0 3.75rem /* 60/16 */
	&-secondary
		background-color rgba(c_light, op_5)
	&-striped
		tbody
			tr
				&:nth-of-type(even)
					background-color rgba(c_light, op_5)
				&:nth-of-type(odd)
					background-color transparent
		thead
			&.thead-dark
				th
					background-color c_sand
					font-weight 500
	th
	td
		padding .75rem 1.25rem
	&--lk
		thead
			td
				font-weight 700
		td
			font-size 1.125rem /* 18/16 */
			border-top 0
			svg
				float left
				margin-right .9375rem /* 15/16 */
.figure-caption
	font-size .875rem /* 14/16 */
	font-style italic
	margin-top 2.1875rem /* 35/16 */
	color c_braun
.figure-img
	margin 4.375rem /* 70/16 */ 0
.lead-img
	margin-bottom 4.0625rem /* 65/16 */
textarea.form-control
	height 38px
	overflow hidden
	padding-left 0.55rem
.modal
	form
		text-align center
		text-transform none
		.form-control
			text-align center
	&--form
		.modal-content
			height 100%
		.modal-title
			&.display-1
				font-size 4rem /* 64/16 */
				font-weight 700
				margin-bottom 2.5rem /* 40/16 */
				@media screen and (max-width sm)
					font-size 3rem
					line-height 1
		.btn
			text-transform none
		small
			font-size .75rem /* 12/16 */
			display inline-block