.login__content
  form
    max-width 600px
    text-transform none
    small
      font-size .75rem /* 12/16 */
      display inline-block
      line-height 1.3
      a
        display inline
      @media screen and (max-width md)
        margin-top 1.25rem /* 20/16 */