mixin login_content()
  article.login__content
    p Пожалуйста, заполните поля для авторизации:
    form(action="")
      .form-group
        input(class="form-control", type="text", placeholder="Ваш логин", required)
      .form-group
        input(class="form-control", type="text", placeholder="Пароль")
      p Если Вы забыли пароль, то можете <a href=""> восстановить его.</a>
      .form-group.form-group-submit
        .row.align-items-start
          .col-lg-5.col-12
            input(class="btn btn-submit", type="submit", value="Войти")
          .col-lg-7.col-12
            small.
              Нажимая кнопку «Войти» вы соглашаетесь c
              <a href="">Политикой конфиденциальности и даете согласие на
              обработку своих персональных данных</a>
