.news
  padding 5rem 0 9.375rem
  text-align center
  .card-img-top
    border-radius 5px
  .btn
    text-decoration none
    text-transform uppercase
  &__cards
    margin-top 5rem /* 80/16 */
    margin-bottom 3.75rem /* 60/16 */
    .card
      border-radius 0
      border none
      text-align left
      @media screen and (max-width md)
        margin-bottom 1.25rem /* 20/16 */
      &:hover
        box-shadow none
      &-date
        color c_sand
        font-size .75rem /* 12/16 */
        font-weight 700
        margin-bottom .625rem /* 16/16 */
      &-body
        padding 1.25rem /* 20/16 */
      &-title
        font-size 1.75rem /* 28/16 */
        text-transform none
        margin-bottom 1rem /* 16/16 */
      &-body
        font-size .875rem /* 14/16 */
        @media screen and (max-width md)
          font-size 1.125rem
      &-link
        font-size .875rem /* 14/16 */
        letter-spacing 0.1em
        color c_sand
        text-transform none
        margin-top 2.5rem /* 40/16 */
        text-decoration none
        position relative
        display inline-block
        @media screen and (max-width md)
          font-size 1.125rem
        &:after
          content "→"
          absolute(right -20px top 0px)