.news{padding:150px 0}.news .card-img-top{border-top-left-radius:5px;border-top-left-radius:0.3125rem;border-top-right-radius:5px;border-top-right-radius:0.3125rem}
/*# sourceMappingURL=_news.css.map */