mixin news()
  section.news
    .container-fluid
      h2 Новости и публикации
      .news__cards
        .row
          .col-md-6.col-lg-4
            .card
              img.card-img-top(src="images/news/news.jpg", alt="")
              .card-body
                .card-date 26.12.2018
                h3.card-title Заголовок новости
                .card-text.
                  Я сама прошла простую и доступную процедуру — генетический анализ.  Это не больно, это очень быстро, а с расшифровкой от специалистов-генетиков, мы можем реально увидеть...
                a.card-link(href="") Читать статью
          .col-md-6.col-lg-4
            .card
              img.card-img-top(src="images/news/news.jpg", alt="")
              .card-body
                .card-date 26.12.2018
                h3.card-title Заголовок новости
                .card-text.
                  Я сама прошла простую и доступную процедуру — генетический анализ.  Это не больно, это очень быстро, а с расшифровкой от специалистов-генетиков, мы можем реально увидеть...
                a.card-link(href="") Читать статью
          .col-md-6.col-lg-4
            .card
              img.card-img-top(src="images/news/news.jpg", alt="")
              .card-body
                .card-date 26.12.2018
                h3.card-title Заголовок новости
                .card-text.
                  Я сама прошла простую и доступную процедуру — генетический анализ.  Это не больно, это очень быстро, а с расшифровкой от специалистов-генетиков, мы можем реально увидеть...
                a.card-link(href="") Читать статью
      a.btn(href="blog.html") Больше статей