extends layouts/_base
include modules/top/top.pug
include modules/header/header.pug
include modules/second/second.pug
include modules/cards/cards.pug
include modules/antrop/antrop.pug
include modules/faces/faces.pug
include modules/video/video.pug
include modules/how/how.pug
include modules/form/form.pug
include modules/feedback/feedback.pug
include modules/news/news.pug
include modules/contacts/contacts.pug
include modules/footer/footer.pug
include modules/popup/test-popup.pug
include modules/popup/form-popup.pug
include modules/menu/menu.pug


block content
  +top()
  +header()
  +second()
  +cards()
  +antrop()
  +faces()
  +video()
  +how()
  +form()
  +feedback()
  +news()
  +contacts()
  +footer()
  +popup()

  a(href="#header", class="to-top")
    include ./images/top.svg
