extends layouts/_inner
include modules/top/top.pug
include modules/footer/footer.pug
include modules/menu/menu.pug
include modules/page__lk/page_lk_history.pug
  .header__lk.d-block.d-lg-none
    a.btn.btn--lk(href="")
      span
        include images/top/user-icon-2.svg
block content
  .page
    +top()
    +page_lk_history()
    +footer()
  a(href="#top", class="to-top")
    include ./images/top.svg
