mixin article_content()
  article.article__content
    .blog-item__meta
      span Новости
      span 26.12.2018
    img(src="images/article/img-1.jpg", alt="", class="img-fluid rounded lead-img")
    .article__text
      p.
        Генетический тест — сложное, многостадийное и высокотехнологическое исследование. Разбираемся во всех тонкостях этого процесса и объясняем из чего складывается его стоимость.
      h2 Стоимость исследования
      p.
        Проведение генетического теста включает несколько этапов, которые требуют специализированного оборудования стоимостью несколько миллионов долларов и участия нескольких специалистов.
      p.
        Основной вклад в цену исследования вносят реагенты и расходные материалы, которые мы закупаем в основном в США. Кроме этого, существенной статьей расходов лаборатории являются контрольные процедуры — использование внутренних и внешних контрольных образцов, аудиты независимых экспертов
        и технических специалистов по обслуживанию оборудования.
      h2 8 этапов проведения генетического теста:
      h3 Этап 1. Сдача биоматериала
      p.
        В качестве исходного биоматериала к нам в лабораторию чаще всего поступает кровь или слюна. Для генетического анализа оба биоматериала подходят одинаково – и там, и там достаточно много ДНК, ее просто извлекать. Большинство наших клиентов сдает именно слюну – это можно сделать где угодно, да еще и без боли. Однако медицинские клиники, которые предлагают наши тесты своим пациентам, зачастую предпочитают собирать кровь, потому что так проще им с точки зрения маршрутизации их исследований.
      p.
        Слюна собирается в специальный комплект, которые содержит консервант, позволяющий сохранять ДНК до года при комнатной температуре.
    img(src="images/article/img-2.jpg", alt="", class="img-fluid rounded mb-5")
    .article__text
      p.
        Кровь собирается из пальца или из вены в специальные пробирки с консервантом ЭДТА. Этот консервант не дает крови свернуться, но не защищает ДНК от разрушения, поэтому кровь необходимо доставлять к нам в лабораторию в течение пары дней после сдачи.
      h3 Этап 2. Выделение ДНК
      p.
        В крови и слюне кроме ДНК содержится много других химических соединений – белков, жиров, полисахаридов, неорганических веществ. Все они могут помешать дальнейшему проведению анализа, поэтому ДНК необходимо очистить.
      p.
        Принцип очистки ДНК заключается в том, что после разрушения всех клеточных структур в образце ДНК сорбируют на специальные мембраны, которые затем промывают очищающими растворами. После промывок ДНК снимают с мембран
        в специальный буфер, в котором ДНК и хранится для последнующего анализа.
      figure.figure-img.text-center
        img(src="images/article/img-3.jpg", alt="", class="img-fluid rounded")
        figcaption.figure-caption Схема выделения ДНК из биоматериала
      p.
        Для этого этапа мы используем специальный робот для выделения ДНК. Вот как выглядит его работа (сильно ускоренно):
      figure.figure-img.text-center
        img(src="images/article/img-4.jpg", alt="", class="img-fluid rounded")
        figcaption.figure-caption Работа робота по выделению ДНК
      h3 Этап 3. Контроль качества выделенно`й ДНК
      p.
        Некоторые наши генетические исследования проводятся с помощью микрочипов, которые позволяют проанализировать более 600 тыс. генетических вариантов. Для того, чтобы начать такой анализ, необходимо амплифицировать образец – то есть увеличить количество ДНК в образце в несколько раз путем копирования. Это делается с помощью специальных ферментов – полимераз, которые выделены из бактериальных клеток.
      p.
        После амплификации ДНК представляет собой длинные молекулы, которые с относительно низкой эффективностью будут в последующем участвовать в необходимых процессах. Поэтому после амплификации ДНК разрезают на короткие фрагменты с помощью ферментов.
      h3 Этап 4. Амплификация и фрагментация ДНК
      p.
        Некоторые наши генетические исследования проводятся с помощью микрочипов, которые позволяют проанализировать более 600 тыс. генетических вариантов. Для того, чтобы начать такой анализ, необходимо амплифицировать образец — то есть увеличить количество ДНК в образце в несколько раз путем копирования. Это делается с помощью специальных ферментов — полимераз, которые выделены из бактериальных клеток.

      p.
        После амплификации ДНК представляет собой длинные молекулы, которые с относительно низкой эффективностью будут в последующем участвовать в необходимых процессах. Поэтому после амплификации ДНК разрезают на короткие фрагменты с помощью ферментов.
      .table-responsive
        table.table.table-striped.table-secondary.table-borderless
          thead.thead-dark
            tr
              th Заголовок таблицы
              th Заголовок таблицы
              th Заголовок таблицы
          tbody
            tr
              td После амплификации ДНК представляет собой
              td После амплификации ДНК представляет собой
              td После амплификации ДНК представляет собой
            tr
              td После амплификации ДНК представляет собой
              td После амплификации ДНК представляет собой
              td После амплификации ДНК представляет собой
            tr
              td После амплификации ДНК представляет собой
              td После амплификации ДНК представляет собой
              td После амплификации ДНК представляет собой
      p.
        Некоторые наши генетические исследования проводятся с помощью микрочипов, которые позволяют проанализировать более 600 тыс. генетических вариантов. Для того, чтобы начать такой анализ, необходимо амплифицировать образец — то есть увеличить количество ДНК в образце в несколько раз путем копирования. Это делается с помощью специальных ферментов — полимераз, которые выделены из бактериальных клеток.

      p.
        После амплификации ДНК представляет собой длинные молекулы, которые с относительно низкой эффективностью будут в последующем участвовать в необходимых процессах. Поэтому после амплификации ДНК разрезают на короткие фрагменты с помощью ферментов.
      ul
        li Пунткт 1
        li Пунткт 2
        li Пунткт 3
        li Пунткт 4
      p.
        Некоторые наши генетические исследования проводятся с помощью микрочипов, которые позволяют проанализировать более 600 тыс. генетических вариантов. Для того, чтобы начать такой анализ, необходимо амплифицировать образец — то есть увеличить количество ДНК в образце в несколько раз путем копирования. Это делается с помощью специальных ферментов — полимераз, которые выделены из бактериальных клеток.
      ol
        li Пунткт 1
        li Пунткт 2
        li Пунткт 3
        li Пунткт 4
      p.
        Некоторые наши генетические исследования проводятся с помощью микрочипов, которые позволяют проанализировать более 600 тыс. генетических вариантов. Для того, чтобы начать такой анализ, необходимо амплифицировать образец – то есть увеличить количество ДНК в образце в несколько раз путем копирования. Это делается с помощью специальных ферментов – полимераз, которые выделены из бактериальных клеток.

