.page
  &__head
    margin-bottom 5.625rem /* 90/16 */
    max-width 1240px
    width 80%
    @media screen and (max-width lg)
      width 100%
    @media screen and (max-width xs)
      h1
        font-size 3.625rem /* 58/16 */
    &--ext
      width 100%
      margin-bottom 3.4375rem /* 55/16 */
      @media screen and (max-width 1700px)
        width 80%
        h1
          font-size 3rem
