mixin page_head(data, ext)
  if data && !ext
    .page__head
      h1= data
  else
    .page__head.page__head--ext
      .row.align-items-center
        .col-auto.col-xl-9
          h1= data
        .col-auto.col-xl-3
          a(href="#form", title="title").btn= ext